.normal {
    background-color: #a8a878;
    color: black;
}

.fire {
    background-color: #f08030;
    color: white;
}

.grass {
    background-color: green;
    color: white;
}

.water {
    background-color: #6890f0;
    color: white;
}

.ice {
    background-color: lightblue;
    color: black;
}

.electric {
    background-color: gold;
    color: black;
}

.fighting {
    background-color: #c03028;
    color: white;
}

.flying {
    background-color: skyblue;
    color: black;
}

.bug {
    background-color: yellowgreen;
    color: white;
}

.ghost {
    background-color: #705898;
    color: white;
}

.rock {
    background-color: sienna;
    color: white;
}

.ground {
    background-color: #e0c068;
    color: black;
}

.steel {
    background-color: silver;
    color: black;
}

.dark {
    background-color: darkgray;
    color: white;
}

.psychic {
    background-color: palevioletred;
    color: white;
}

.fairy {
    background-color: pink;
    color: black;
}

.dragon {
    background-color: #7038f8;
    color: white;
}

.poison {
    background-color: #a040a0;
    color: white;
}