@font-face {
    font-family: "PokemonFireRed";
    src: url("./fonts/volter__28goldfish_29.ttf");
}


body {
    background: url("./img/pokemon-bg.jpg") no-repeat;
    background-size: cover;
    font-family: "PokemonFireRed";
                                                
}

#content-box {
    width: 800px;
    height: 600px;
    /* border: 10px solid lightgray; */
    border-radius: 10px;

    /* background-color: green; */
    display: flex;
    margin: 0 auto;
    margin-top: 60px;
    /* justify-content: space-around; */
    align-items: center;

    background: url("./img/pokedex-frame-2.png") no-repeat;
    background-size: cover;

}

#pokemon-info {
    width: 332px;
    height: 337px;

    margin-top: 17px;
    margin-left: 29px;

    /* background-color: cyan; */
    text-align: center;
}

#pokemon-list {
    width: 302px;
    height: 376px;

    margin-top: 89px;
    margin-left: 102px;

    /* background-color: yellow; */
    font-size: 18px;
    overflow-y: auto;
}

.pokemon-name {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin: 5px;
    padding: 5px;

}

#pokemon-info img {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
}

#pokemon-types {
    margin-top: 10px;
}

.type-box {
    padding: 3px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
}

#pokemon-description {
    width: 290px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;

    margin: 0 auto;
    margin-top: 10px;
    padding: 2px;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    overflow-y: auto;
}